/*the style code of navigation bar in our site*/

.NavBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color: #601cfc;
    padding: 10px;
    color: white;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 700;
}

.navigation {
    margin: 10px;
}

.navigation a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    padding-left: 30px;
    font-weight: 500;
}

.navigation a:hover{
    color: #38ACEC;
}

/* Small */
@media (max-width: 768px ) {
    .logo {
        font-size: 30px;
        text-transform: uppercase;
        font-weight: 700;
        background-color: #601cfc;
    }

    .navigation a {
        font-size: 12px;
        padding-left: 10px;
    }
  }
