<div class="card border-dark mb-3">
  <div class="card-body">
    <div id="user-partial"></div>
    <Button
    variant="contained"
    color="primary"
    size="large"
    >
  classes nesting
</Button>
  </div>
</div>
